/*Estilos gerais para molhor visualização*/

html{
    text-align: center;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header, footer{
    background-color: #333;
    color: #f5f5f5;
    padding: 1em 0;
}

p{
    margin-left: 100px;
    margin-right: 100px;
}

header h1, footer p{
    margin: 0;
}